/*®à®à®à®à®à®à®à®à®à®à®à®à®à®à®à®à®à®à®à®à®à®à®à®à®àºÊ»›–‘CSS Hack®à®à®à®à®à®à®à®à®à®à®à®à®à®à®à®à®à®à®à®à®à®à®à®à®à®à®à*/

/*µº∫Ω*/
.ie6 .nav-intro{visibility:hidden}

.ie6 .cbox_small{margin-left:10px}

.ie .nav-trigon {top:0;}

/*∞¥≈•*/
.ie6  .ds-button { height: 34px; display: inline-block; padding: 0px 15px 0px 0px; background:none }
.ie6  .ds-button-inner {background: url(img/ds-button-bg-blue.png) no-repeat -18px 0px; }



