/*case-style*/
@import "../admin/_manage_css/floatWin.css";


/* SLIDESHOW */
#sliderWrapper,#slideshow{width:790px; height:100%; overflow:hidden;margin-left:15px; margin-top:10px;}
#sliderUlBox{width:790px; overflow:hidden}
#slideshow{ width:9999px; margin:0; padding:0; margin-top:80px;}
#slideshow li{float:left; width:790px; overflow:hidden; display:inline; list-style:none;}
#slideshow li img{ padding: 3px; border:1px solid #ccc; background-color: #fff; }

a#slideBtnPrev,a#slideBtnNext{ width:31px; height:36px; overflow:hidden; display:block; position:absolute; z-index:9999; text-indent:-999px; top:35px;}
a#slideBtnPrev{background:url(img/ARROW.png) no-repeat -33px -3px;  margin:0px 0 0 -5px;}
a#slideBtnNext{background: url(img/ARROW.png) no-repeat 0 -3px;  margin:0px 0 0 30px;}
a#slideBtnPrev:hover,a#slideBtnNext:hover{-moz-transition:.2s ease-in-out;-o-transition:.2s ease-in-out;-webkit-transition:.2s ease-in-out;}
a#slideBtnPrev:hover{background-position: -33px -40px}
a#slideBtnNext:hover{background-position: 0 -40px}
a#goUrl,a#goBack{ font-family:Tahoma, Geneva, sans-serif; font-style:italic; position:absolute; z-index:999; font-size:13px; color:#333; top:53px; z-index:9999}
a#goUrl{ left:710px;}
a#goBack {left:760px;}
a#goUrl:hover,a#goBack:hover{background:#fff; padding:3px; text-decoration:none; color:#000; -moz-transition:.2s ease-in-out;-o-transition:.2s ease-in-out;-webkit-transition:.2s ease-in-out;}



.caseCon { margin:40px 10px 0 10px; padding-right:100px}
.caseCon .i{color:#999; font-size:12px;}
.caseCon h1{margin:10px}


#case_mainMask { width:8000px; height:100%; position:absolute; top:0; left:0; z-index:9998;}
#case_loading{ top:130px; left:365px; position:absolute; width:321px; height:100px; z-index:9999; color:#FFF; overflow:hidden}
#case_loading .case_loadingShow{width:250px; height:78px;}


/*作品同步日志后的评论按钮*/
#workcomment{text-align:left; margin:20px 0 20px ;}
#workcomment img{border:none; margin-left:-14px;}

/*作品展示页 投票区*/
#voteWork {position:absolute; top:5px; visibility:hidden; left:626px;; z-index:351; height:150px; width:240px; text-align:left}
#voteWork img{border:none}


/*前台修改按钮*/
#editControl {position:absolute; margin:0; z-index:999; top:53px; left:540px;; z-index:351; height:150px; width:240px; text-align:left;}

/*上下篇作品*/
#recent{clear:both; line-height:40px; display:none/*不显示此插件*/} 