
.font-family-lato {
	font-family:'Lato',sans-serif;
	font-weight:100;
}
.font-color-333 {
	color:#333
}

.font-color-90ac30{
	color:#90ac30
}
.font-color-959494{
	color:#959494
}
.font-color-cd6e22{
	color:#cd6e22
}
.font-color-e3e3e3{
	color:#e3e3e3
}

.font-color-272626{
	color:#272626
}
