#logo-wrapper{
	background:url(../images/logo-bg.png);
	width:293px;
	height:100%;
	margin-left:7%;
	position:absolute;
	top:0;
	left:0;
	text-align:center;
	z-index:2;
}

#logo-img{
	margin-top:40px;
	position:fixed;
	z-index:99999;
	top:0;
	left:0;
	margin-left:7%;
	-moz-transition:.2s ease-in-out;
	-o-transition:.2s ease-in-out;
	-webkit-transition:.2s ease-in-out;
	-ms-transition:.2s ease-in-out;
	transition:.2s ease-in-out;
}
